*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
   margin:5rem auto 1rem auto ;
}
.product-container{
  width: 90%;
  margin:auto ;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.product-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.product-card img{
  width: 100%;
height: 350px;
border-radius: 5px 5px 0 0;
}

.sidebar{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: .5rem 2rem;
   width: 30%;
   margin: auto;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  z-index: 9999;

}
.navbar h2{
  cursor: pointer;
}
.navbar .search-div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .search-div input{
  padding: .5rem 1rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid gray;
  outline: none;
}
.navbar .search-div button{
  padding: .5rem;
  border-radius: 0 5px 5px 0;
  outline: none;
  border: 1px solid gray; 
}
.desc{
  text-align: center;
  padding: .5rem;
  /* display: flex;
  flex-direction: column; */
}
.desc button{
  padding: .5rem 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: tomato;
  color: #fff;
  margin-top: .5rem;
}
.product-detail{
  width:85%;
  margin: 5rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  display: grid;
 grid-template-columns: repeat(auto-fit,minmax(300px,max-content));
 gap:20px;
 border-radius: 5px;
}
.text button{
  padding: .5rem 2rem;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width:1050px) {
  .product-container{
    width: 90%;
    margin:5rem auto ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* margin: 1rem; */
    gap: 20px;
  }
  .sidebar{
    width: 50%;
  }
}

@media screen and (max-width:850px) {
  .product-container{
    width: 90%;
    margin:5rem auto ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin: 1rem; */
    gap: 20px;
  }
  .sidebar{
    width: 55%;
  }
   .sidebar h1{
    font-size: 1.5rem;
   }
}


@media screen and (max-width:450px) {
  .product-container{
    width: 90%;
    margin:5rem auto ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
    .sidebar{
    width: 70%;
  }
   .sidebar h1{
    font-size: 1rem;
   }
}

@media screen and (max-width:380px) {
  .product-container{
    width: 90%;
    margin:5rem auto ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
   .sidebar{
    width: 70%;
    margin-bottom: .1rem;
  }
   .sidebar h1{
    font-size: 1rem;
   }
}
@media screen and (max-width:325px) {
  .product-container{
    width: 90%;
    margin:5rem auto ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .sidebar{
    width: 80%;
    margin-bottom: .1rem;
  }
   .sidebar h1{
    font-size: 1rem;
   }
      .navbar{
        display: flex;
        justify-content: space-between;
      }
   .navbar h2{
    font-size: 1rem;
    
   }
    .navbar .search-div input {
       padding: .5rem .2rem;
    }
}